body{
  background: white;
}
h1{
  color: black;
}
h2{
  color: black;
}
#navbar {
  overflow: hidden;
  background-color: white;
}
#navbar a {
  float: left;
  display: block;
  color: gray;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: navy blue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: skyblue}

.button:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.w3-justify{
  width: 570px;
}

.w3-opacity{
  font-size: 20px;
}

#mission{
  font-size: 17px;
}

body {font-family: "Lato", sans-serif}
.mySlides {display: none}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 100px;
    color: white;
    font-family: "impact", impact;
}
.descrip {
  color: gray;
}
